<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>Visualização de dados</h1>
        <p>
          Os gráficos são atualizados em tempo real, as expressões faciais são
          passadas diretamente do servidor.
        </p>
      </div>

      <div>
        <canvas id="gBarra" width="300" height="300"></canvas>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>

          var socket = new WebSocket(`ws://${location.host}`);

          socket.onerror = function (error) {
            console.log("Erro do WebSocket: " + error);
          };

          socket.onmessage = function (message) {
            let rcvData = JSON.parse(message.data);
            console.log(rcvData);
            gBarra.config.data.datasets[0].data = rcvData;
            gBarra.update();
          };

          let data = [10, 10, 10, 10, 10, 10, 10];

          const labels = [
            // Valor de cada coluna
            "Desgosto",
            "Felicidade",
            "Medo",
            "Neutro",
            "Raiva",
            "Surpresa",
            "Tristeza",
          ];

          const bgc = [
            //Background colour
            "rgba(255, 99, 132, 0.2)",
            "rgba(255, 159, 64, 0.2)",
            "rgba(255, 205, 86, 0.2)",
            "rgba(75, 192, 192, 0.2)",
            "rgba(54, 162, 235, 0.2)",
            "rgba(153, 102, 255, 0.2)",
            "rgba(201, 203, 207, 0.2)",
          ];

          const bc = [
            // Border colour
            "rgb(255, 99, 132)",
            "rgb(255, 159, 64)",
            "rgb(255, 205, 86)",
            "rgb(75, 192, 192)",
            "rgb(54, 162, 235)",
            "rgb(153, 102, 255)",
            "rgb(201, 203, 207)",
          ];

          let dataBar = {
            labels: labels,
            datasets: [
              {
                label: "Ocorrência da expressão facial",
                backgroundColor: bgc,
                borderColor: bc,
                borderWidth: 1,
                data: data,
              },
            ],
          };

          const config1 = {
            type: "bar",
            data: dataBar,
            options: { maintainAspectRatio: false },
          };

          const gBarra = new Chart(document.getElementById("gBarra"), config1);
        </script>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
